<h1>
<%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</h1>
<br>
<br>
<%= @game.current_turn.name %>'s turn
<br>
<div>
<%= @game.player_2.name %>: 60HP
<%= @game.player_1.name %>: 60HP
</div>
<br>
<form>
<input type="submit" value="Attack">
</form>
<a href="/attack">OK</a>

